.stApp {
    background: linear-gradient(135deg, #7f99d6, #6280d3, #4c5e85);
}

h1 {
    color: rgb(133, 175, 199);
    text-align: center;
}

h2,h3 {
    color: rgb(105, 150, 202);
}

p {
    color: rgb(23, 24, 24);
}

div[data-testid="stMetric"] {
    background-color: rgba(52, 145, 184, 0.12);
    padding:20px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.2);
}